[credential]
	helper = store
[user]
	email = 60003298+max-wickham@users.noreply.github.com
	name = max-wickham
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
